.picture {
    width: 1450px;
    height: 1000px;
    padding: 20px 30px;
    background-image: url(../images/contact.jpg);
    background-size: 1600px;
}


.div-contact {
    width: 1300px;
    position: relative;
    top: 50px;
    left: 30px;
    padding: 10px 0;
    padding-right: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}

.barre2 {
    margin: 20px 0;
    height: 2px;
    width: 550px;
    background-color: #0d6efd;
    opacity: 1;
}

input {
    width: 550px;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    padding: 5px 10px;
    margin: 0;
}

textarea {
    width: 550px;
    height: 150px;
    border-radius: 5px;
    border-color: grey;
    padding: 5px 10px;
    margin: 0;
}

.btn {
    margin: 10px;
}

.form {
    margin: 50px;
}

.text-contact {
    margin: 5px 10px;
    font-size: 18px;
}

.icone {
    width: 24px;
    height: 24px;
    margin: 5px 10px;
}

.contact {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-contact {
    width: 100%;
}

.submit-button{
    height:40px;
    background-color: #0d6efd;
    color: white;
    border:none;
    border-radius: 5px;
}

@media (max-width: 900px) {
    .picture {
        height: 1550px;
    }
}