.navbar {
    background-color: #1e1E1E !important;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    border: solid !important;
    border: white !important;
}

.navbar-nav {
    position: relative;
    left: 130px;
}