.realisation {
    margin: 80px;
}
/* 
.btn {
    margin-left: auto !important;
    margin-right: auto !important;
    background: none !important;
    color:#0d6efd !important;

} */

.card-footer-realisation{
    text-align: center !important;
}


.card{
    margin:20px !important;
    padding: 0 !important;
}
