.App {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: #444;
  background: white;
}

.navbar {
  background-color: #1e1E1E;
}

.header {
  width: auto;
  height: 800px;
  background-image: url("../src/images/software-developer-6521720_1280.jpg");
}

.background {
  background-color: black;
  opacity: 0.3;
}

.titre-header {
  padding: 300px;
  color: white;
  cursor: default;
  opacity: 1;
}

h1 {
  padding: 20px;
  font-size: 50px;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;

}

h4 {
  text-align: left;
  font-weight: 600px;
  font-size: 18px;
}

strong {
  /* font-size: 19px; */
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
  text-align: left;
}

Link {
  text-decoration: none;
  color: black;
  text-align: left;
}


.header-job {
  padding-bottom: 20px;
  text-align: center;
}

.en-savoir-plus {
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.a-propos {
  width: 80%;
  padding: 30px;
  margin: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px, grey;
  border: solid;
  border-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.description {
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.competences {

  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

p {
  text-align: left;
  font-size: 20px;
}

.competences img {
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

hr {
  color: #0d6efd;
  margin: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  background: #EEE;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fleche-bleue {
  max-width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
}

.footer img {
  width: 30px;
  margin: 10px;
  opacity: 1;
}

.footer img:hover {
  opacity: 0.5;
}

#linkedin {
  order: 1;
}

#twitter {
  order: 2;
}

#github {
  order: 3;
}

.infos {
  text-align: left;
}

.link {
  color: black;
  text-align: left;
}

.last-realisations {
  text-align: left;
}

.last-realisations Li {
  margin: 0;
  padding: 0;
}

.last-articles {
  text-align: left;
  text-decoration: none;
  color: black;
}

.copyright {
  background-color: #1e1E1E;
  color: white;
  padding-top: 20px;
}

.copyright p {
  text-align: center;
}

.laser-bleu {
  height: auto;
  width: 100vw;
}

.intro {
  margin: 30px;
}

.intro p{
  text-align: center;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 100px;
}

.services{
  margin-top:40px;
  height: 4px;
  width: 300px;
  margin:auto;
  background-color: #0d6efd;
  opacity: 1;
}

.bloc-service {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
  width: 400px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-service{
  width: 50px;
  height:auto;
  margin: 40px;
}

.titre-service {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
}

.details-services {
  text-align: center;
  font-size: 16px;
}