@font-face {
  font-family: "Nunito Sans";
  src: url("./Fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans Gras";
  src: url("./Fonts/Nunito_Sans/static/NunitoSans_7pt_Condensed-SemiBold.ttf") format("truetype");
}



.App {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: #444;
  background: white;
}

.navbar {
  background-color: #1e1E1E;
}

.header {
  width: auto;
  height: 800px;
  background-image: url("../src/images/software-developer-6521720_1280.jpg");
}

.background {
  background-color: black;
  opacity: 0.3;
}

.titre-header {
  padding: 200px;
  color: white;
  cursor: default;
  opacity: 1;
}

h1 {
  font-family: "Nunito Sans Gras", sans-serif;
  padding: 20px;
  font-size: 50px;
}

h2 {
  font-family: "Nunito Sans Gras", sans-serif;
  text-align: left;
}

h3 {
  font-family: "Nunito Sans Gras", sans-serif;
  text-align: left;

}

h4 {
  text-align: left;
  font-weight: 600px;
  font-size: 18px;
}

strong {
  font-size: 19px;
  font-family: "Nunito Sans Gras", sans-serif;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
  text-align: left;
}

Link {
  text-decoration: none;
  color: black;
  text-align: left;
}

.john-doe {
  font-size: 70px;
}

.header-job {
  padding-bottom: 20px;
  text-align: center;
}

.en-savoir-plus {
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.a-propos {
  width: 80%;
  padding: 70px;
  margin-top: 60px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px;
  border: solid;
  border-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.description {
  width: 47%;
}

.barre1 {
  margin-top: 20px;
  height: 2px;
  width: 480px;
  background-color: #0d6efd;
  opacity: 1;
}

.competences {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

p {
  text-align: left;
  font-size: 20px;
}

.competences img {
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

hr {
  color: #0d6efd;
  margin: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  background: #EEE;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fleche-bleue {
  max-width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
}

.footer img {
  width: 30px;
  margin: 10px;
  opacity: 1;
}

.footer img:hover {
  opacity: 0.5;
}

#linkedin {
  order: 1;
}

#twitter {
  order: 2;
}

#github {
  order: 3;
}

.infos {
  text-align: left;
}

.link {
  color: black;
  text-align: left;
}

.last-realisations {
  text-align: left;
}

.last-realisations Li {
  margin: 0;
  padding: 0;
}

.last-articles {
  text-align: left;
  text-decoration: none;
  color: black;
}

.copyright {
  background-color: #1e1E1E;
  color: white;
  padding: 20px;
}

.copyright p {
  text-align: center;
}

.laser-bleu {
  height: auto;
  width: 100vw;
}

.intro {
  margin: 30px;
}

.intro p {
  text-align: center;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 100px;
}

.barre {
  margin-top: 40px;
  height: 4px;
  width: 300px;
  margin: auto;
  background-color: #0d6efd;
  opacity: 1;
}

.bloc-service {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
  width: 400px;
  height: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-service {
  width: 50px;
  height: auto;
  margin: 40px;
}

.titre-service {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
}

.details-services {
  text-align: center;
  font-size: 16px;
}


.realisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 100px;
}


.bloc-realisation {
  background-color: white;
  text-align: center;
  width: 400px;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: solid;
  border-width: 1px;
  border-color: rgb(190, 188, 188);
}

.image-realisation {
  width: 398px;
  height: auto;
  margin-bottom: 20px;
}

.titre-realisation {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
  color: black;
}

.details-realisation {
  text-align: center;
  font-size: 16px;
}

.See {
  color: #0d6efd;
  border-color: #0d6efd;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px 10px;
  margin: 10px;
}

.techno-utilisees {
  background-color: #EEE;
  width: 398px;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(190, 188, 188);
  margin-top: 20px;
  padding: 10px;
}

.blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin: 80px;
}


.bloc-blog {
  background-color: white;
  text-align: center;
  width: 400px;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: solid;
  border-width: 1px;
  border-color: rgb(190, 188, 188);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.image-blog {
  width: 398px;
  height: auto;
  margin-bottom: 20px;
}

.titre-blog {
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
  margin: 20px;
  color: black;
}

.details-blog {
  font-size: 16px;
  margin: 20px;
}

.Read {
  background-color: #0d6efd;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 20px;
  padding: 10px 15px;
}

.date-publication {
  background-color: #EEE;
  width: 398px;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(190, 188, 188);
  margin-top: 20px;
  padding: 10px 15px;
  text-align: left;
}


.icone {
  width: 24px;
  height: 24px;
  margin: 5px 10px;
}

.contact{
  display: flex;
  flex-direction: row;
}

.text-contact{
  margin:5px 10px;
}

